[Unit]
Description=Prometheus Timeseries Server

[Service]
Restart=on-failure
RestartSec=30
ExecStop=/usr/bin/podman stop simpleprom
ExecStartPre=-/usr/bin/podman rm simpleprom
ExecStart=/usr/bin/podman run \
    --detach \
    --net=host \
    --name simpleprom \
    --publish 9090:9090 \
    --volume /usr/tmp/simpleprom.yaml:/etc/prometheus/simpleprom.yaml \
    --volume /usr/tmp/simpleprom.recordings.yaml:/etc/prometheus/simpleprom.recordings.yaml \
    --volume /usr/tmp/simpleprom.alerts.yaml:/etc/prometheus/simpleprom.alerts.yaml \
    prom/prometheus:latest \
        --config.file=/etc/prometheus/simpleprom.yaml \
        --storage.tsdb.path=/prometheus \
        --web.console.libraries=/usr/share/prometheus/console_libraries
KillMode=none
Type=forking

[Install]
WantedBy=default.target
